/******************************************************************
Site Name: Monarch
Author: Emory Griffith
*/

/*------------------*/
/*Styles for the Sticky Footer and Fonts*/
/*------------------*/

@media (min-width: 768px){

  .navbar > .container-fluid .navbar-brand {
      margin-left: 15px;
  }


}

html {
  /*position: relative;
  min-height: 100%;*/
}

body{
  font-family: 'Rubik', sans-serif !important;
}

/*footer {
  /*position: absolute;
  bottom: 0;*/
  /*width: 100%;*/
  /* Set the fixed height of the footer here */
  /*height: 100px;*/
  /*padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;*/
  /*height: 450px;*/
  /*border-top: solid 1px #d3d3d3;*/
/*}*/

/*------------------*/
/*Link Styles*/
/*------------------*/

a{
  color: #590755;
}

/*------------------*/
/*Header Styles*/
/*------------------*/

.eg-top{
  margin-top: 10px;
}

.header-logo{
  width:120px;
  padding: 0 0 10px 15px;
}

.navbar-default{
  background-color: #fff;
}

#menu-main-menu{
  padding-top: 13px;
}

.nav-li a {
    color: black;
}

/*Add solid line around last menu item*/
.nav > li:last-child > a {
  border: solid 1px #7C407A;
  border-radius: 10px;
}

/*Make the nav list items sit next to each other
  instead of breaking to new line*/
@media screen and (min-width: 768px) {
    .nav li{
      display:inline-block;
    }
}


/*------------------*/
/*HOME PAGE*/
/*------------------*/
.home-background{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/Monarch_homepage_background.jpg');
  /*background-image: url("../images/Monarch_homepage_background.jpg");*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-left: 15px;
  padding-right: 15px;
}

.home-left{
  display: flex;
  align-items: center;
  flex-direction:
  justify-content: center;
  /*padding-top: 14%;*/
}

.banner{
  text-align:left;
  width: 500px;

}

.home-left h1{
  text-align: left;
  color:#fff;
  font-size:26px;
}

.home-left h3{
  color:#fff;
  font-size: 14px;
}

.home-left p{
  color:#fff;
  font-size: 14px;
  text-transform: uppercase;
}



/*MEDIA CARDS ON HOME PAGE*/

.home-right{
  padding-left:5%;
  padding-right:5%;
  padding-bottom: 5%;
}

.media-left a img{
  background-color: #81007F;
  border-radius: 100%;
  padding:10px;
  height:55px;
  width:55px;
  -webkit-box-shadow: 3px 3px 21px -1px rgba(94,94,94,0.75);
  -moz-box-shadow: 3px 3px 21px -1px rgba(94,94,94,0.75);
  box-shadow: 3px 3px 21px -1px rgba(94,94,94,0.75);
}

.media-list{
  padding-left: 5%;
  padding-right: 5%;
  padding-top:7%;
}

.media{
  background-color: #fff;
  padding:10px;
  border-radius: 7px;
}

h4.media-heading{
  font-size:15px;
  font-weight: bold;
  color:#590755;
}
.media-body{
  color:#00111F;
  font-size: 12px;
}

.home-family{
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  width: 65%;
  margin: 0 auto;
}

.home-family h3{
  text-align: center;
  padding: 20px;
}
.home-family h4{
  text-align: center;
  padding-top: 40px;
  clear:both;
  text-transform: uppercase;
  color:#630B62;
}

.home-family div{
  padding-top: 15px;
}

@media (max-width: 768px){

  .home-family{
    /*min-height: 800px;*/
    width: 85%;
  }

}



/*------------------*/
/*APPROACH PAGE*/
/*------------------*/
.page-header{
  float:none;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: none;
}

.page-header h1{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #00B0D8;
  text-transform: uppercase;
}

.page-header h2{
  font-size: 45px;
  text-align: center;
  font-weight: bold;
}


.page-middle{
  float:none;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0px 0px 3px -1px #D5D5D5;
  padding-left: 0px;
  padding-right: 0px;
}

.page-middle div{
  display: flex;
  flex-direction: column;
  height: 150px;
  align-items: center;
  justify-content: center;
  padding:20px;
}
.page-middle div h3{
  text-align: center;
  font-weight: bold;
}

.page-middle div p{
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  color: #BCBCBC;
}

.shadow{
  -webkit-box-shadow: 0px 0px 25px 2px rgba(213,213,213,0.44);
  -moz-box-shadow: 0px 0px 25px 2px rgba(213,213,213,0.44);
  box-shadow: 0px 0px 25px 2px rgba(213,213,213,0.44);
}
/*Take away box shadow and border at ipad breakpt*/
@media (max-width: 767px){
  .shadow{
    box-shadow: none;
  }
  .page-middle{
    box-shadow: none;
  }
}




.approach-services{
  height: 300px;
  background-color: #50004D;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.approach-services h3{
  color: #fff;
}
.approach-team{
  height: 300px;
  background-color: #00B0D8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.approach-team h3{
  color: #fff;
}



/*------------------*/
/*ABOUT PAGE*/
/*------------------*/

.about-bios{
  background-color: #50004E;
  float:none;
  margin: 0 auto;
  padding-top:50px;
  padding-bottom: 50px;
}

.about-bios h2{
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.about-bios div{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.about-bios div img {
  border-radius: 100%;
  display:block;
  margin: 0 auto;
  padding: 10px;
}


.about-bios h4{
  text-align: center;
  color: #fff;
  padding: 10px;
}

.about-bios p{
  text-align: center;
  color: #fff;
}

.about-lower a {
  color: black;
}
.about-lower div:hover .hover-other{
  color: #00B0D8;
}

.about-services{
  height: 200px;
  background-color: #fff;
  border: solid 1px #D5D5D5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.about-approach{
  height: 200px;
  background-color: #fff;
  border: solid 1px #D5D5D5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}












/*FOOTER STYLES*/
      footer .container{
        margin: 0 auto;
        width:30%;
        padding-top:45px;
        padding-bottom: 15px;
      }

      @media (max-width: 768px){
        footer .container{
          width:60%;
        }
      }

      footer .container div{
        padding-top: 15px;
      }

      footer .container ul {
        list-style-type: none;
        padding-left: 0px;
      }

      footer .container ul li{
        text-align: left;
        padding-top: 10px;
      }

      @media (max-width: 991px){
        footer .container ul li{
          text-align: center;
        }
      }
      footer h5{
        text-align: center;
      }

      .login-btn{
        margin-top: 15px;
        color:#fff;
        background-color: #630B62;
        border: none;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        width: 175px;
        margin: 0 auto;
      }

      .footer-text{
        margin-top:30px;
        margin-bottom: 30px;
      }
      .footer-text p{
        text-align: center;
        padding:15px;
      }
      .info{
        color:#949293;
      }
