/******************************************************************
Site Name: Loosely Bound
Author: Emory Griffith
*/

/*------------------*/
/*Header Styles*/
/*------------------*/

/*Navbar*/
.eg-top{
  margin-top: 10px;
}

.header-logo{
  width:120px;
}

@media screen and (min-width: 768px) {
    .nav li{
      display:inline-block;
      color:red;
    }
}




/*------------------*/
/*Banner*/
/*------------------*/

/*Banner Background Image*/
.banner{
  width: 100%;
  height: 600px;
  background-image: url("../images/Loosely_Bound_Youtube_Cover.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/*------------------*/
/*Gallery*/
/*------------------*/

/*Gallery*/
.galleries{
  width:100%;
  height:600px;
  background-color: #d3d3d3;
}

.gallery{
  float:none;
  margin: 30px auto 0;
}

.gallery-card{
  display:inline-block;
  border:solid 2px black;
  height:200px;
  width: 290px;
  margin: 5px;
  background-color: #fff;
}

.gallery-title{
  font-size: 24px;
  color:blue;
}
.gallery-content{
  border:solid 3px red;
}
